		<!--</div>	-->
  <!--          <div id=footer>-->
                <!--<script type="text/javascript">-->
                <!--    document.write("Last Update: " + new Date().getMonth()+1 + "-" + new Date().getDate() + "-" +  new Date().getFullYear());-->
                <!--</script>-->
  <!--          </div>-->
  <!--  	</div>-->
        
                <div class="push"></div>
            </div>
        </div>
        <div class="footer"> <!-- class="footer footer-sticky text-center -->
           <script type="text/javascript">
                document.write("Last Update: 01-07-18");
           </script>
        </div>
    <!--</div>-->
	<script
	  src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/ftpCalculator.js"></script>
</body>
</html>