<% include ./partials/header %>
    <p>E-mail: <br> <a href="mailto:jerryhsu@fakeEmail.com" target="_top">jerryhsu@fakeEmail.com</a></p>
    <p>Phone: <br> <a href= "tel: (555) 123-4567" target="_top">(555) 123-4567</a></p>
<% include ./partials/footer %>