<% include ./partials/header %>
    <p>I'm in the process of adding a number of pages and features to this website, including authentication. If you would like access to additional content, please contact me with one of the following methods:</p>
    <p>E-mail: <a href="mailto:jerryhsu@fakeEmail.com" target="_top">jerryhsu@fakeEmail.com</a>
    <br>Phone: <a href= "tel: (555) 123-4567" target="_top">(555) 123-4567</a></p>
<% include ./partials/footer %>