<% include ./partials/header %>
    <p>You have reached the hiking page!</p>
    <p>You have reached the hiking page!</p>
    <p>You have reached the hiking page!</p>
    <p>You have reached the hiking page!</p>
    <p>You have reached the hiking page!</p>
<% include ./partials/footer %>