<% include ./partials/header %>

	<p>Hello world! This is all (relatively) new to me: </p>
	<ul>
		<li>building a website</li>
		<li>"serving" customized content</li>
		<li>describing how to build a website</li>
	</ul>
	<p>I'm trying my hand at all creating websites. It's been a ton of fun doing this <a href="https://www.udemy.com/the-web-developer-bootcamp/">Web Developer Bootcamp </a>through Udemy.com. While I do, I figured that I would create something on the side that could incorporate what I'm learning, as well as some of the stuff going on in my life. You could consider this website an exercise in documenting what makes me, me!
	</p>
	<p>
		On the banner above, you'll find some quick links to major parts of my life. Down below, I've included some of my favorite pictures with friends or places I've visted (maybe both!). Feel free to poke around and let me know what you think! <br><br>-Jerry
	</p>

		

	<hr>
	<% if(currentUser){ %>
		<div class = "col-lg-6 col-md-6 col-sm-12 "><div class= "thumbnail"><img src="https://farm2.staticflickr.com/1785/43533169501_bdd092520c_b.jpg" alt="mt. baldy"></div></div>
		<div class = "col-lg-6 col-md-6 col-sm-12 "><div class= "thumbnail"><img src="https://farm1.staticflickr.com/834/43533168851_5a1cb64874_b.jpg" alt="sf sunrise"></div> </div>
		<div class = "col-lg-6 col-md-6 col-sm-12 "><div class= "thumbnail"> <img src="https://farm2.staticflickr.com/1788/43533169831_59f71aeb67_b.jpg" alt="on the road again"></div> </div>
		<div class = "col-lg-6 col-md-6 col-sm-12 "><div class= "thumbnail"> <img src="https://farm1.staticflickr.com/834/42628333355_842d18aac8_b.jpg"alt="bushkill falls"></div> </div>
		<div class = "col-lg-6 col-md-6 col-sm-12 "><div class= "thumbnail"> <img src="https://farm1.staticflickr.com/840/43533169441_d18b3cf6ef_b.jpg" width="1024" height="576" alt="facebook break"></div> </div>
		<div class = "col-lg-6 col-md-6 col-sm-12 "><div class= "thumbnail"> <img src="https://farm1.staticflickr.com/860/42628333675_ae3bb6ac3c_b.jpg"alt="friends in Thailand"></div> </div>
	<% } else { %>
		<p>I've recently added authentication to this website. Many of the webpages, pictures and features are now <a href="/contact">password protected</a>.</p>
	<% } %>
	
<% include ./partials/footer %>