<% if(is_phone){%>
	<% include ./partials/headerMobile %>	
<% } else if (is_desktop) { %>
	<% include ./partials/header %>
<% } %>

	<title>Tip Calculator</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/tipCalculator.css">

	<div id="billHeader">
		<div id="totalBillLabels">
			<div class="col">Total Bill</div>
			<div class="col">Tax %</div>
			<div class="col">Tip %</div>
			<div></div>
		</div>
		<div id="totalBillNums">
			<div class="col">---</div>
			<div class="col"><input id="taxPercent" type="number" name="taxPercent" value="6.625"></div>
			<div class="col"><input id="tipPercent" type="number" name="tipPercent" value="18"></div>
			<div>
				<span>
					<i class="fas fa-user-plus" data-fa-transform="left-5"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
			<table>
				<tr id="personRow">
					<td>
						<span class="fa-stack fa-2x">
					        <i class="fas fa-circle fa-stack-2x" style="color: silver; opacity: 0.8"></i>
					        <i class="fas fa-utensils fa-stack" style="color:#A63535; opacity: 0.5"></i>
						</span>
				        <i class="fas fa-plus" style="color:#686868; position:relative; opacity: 0.8"></i>
					</td>
					<td><input type="text" name="p0" placeholder="Person 1"></td>
					<td><input type="text" name="p1" placeholder="Person 2"></td>
					<td></td>
				</tr>
				<tr class="dishRow">
					<td>
						<input type="number" name="d0" placeholder="Dish Price">
					</td>
					<td><input type="checkbox" class="d0 p0" name=""></td>
					<td><input type="checkbox" class="d0 p1" name=""></td>
					<td class="dishSubTotal">-</td>

				</tr>			
				<tr class= "dishRow">
					<td><input type="number" name="d1" placeholder="Dish Price"></td>
					<td><input type="checkbox" class="d1 p0" name=""></td>
					<td><input type="checkbox" class="d1 p1" name=""></td>
					<td class="dishSubTotal">-</td>
				</tr>			
				<tr id="totalsRow">
					<td>Subtotals</td>
					<td><p>-</p></td>
					<td><p>-</p></td>
					<td></td>
				</tr>
			</table>
			<br>
<!-- 				<table id="shoppingCart">
				<tr>
					<td>

					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table> -->
	</div>
	<script type="text/javascript" src="/js/tipCalculator.js"></script>

<% if(is_phone){%>
	<% include ./partials/footerMobile %>	
<% } else if (is_desktop) { %>
	<% include ./partials/footer %>
<% } %>