<% include ../partials/header %>
    <h1>You have reached the cycling page!</h1>
    <p>I've created this page as a cycling workout guide for myself. Many of the innovations in cycling (professional and otherwise) have taken the form of better data collection and setting quantitative targets with that data. Over the past few years, "Functional Threshold Power", or "FTP" has taken over as a primary measurement in cycling, both for training sessions and competitions. You can read more about it <a href="https://roadcyclinguk.com/how-to/six-things-need-know-training-zones.html">here.</a> </p>
    <p>I'm starting my own jouney of using a power meter and my own FTP for my individual training sessions. I hope to fill this page over the next few weeks (I'm writing this text at 5:01 pm on 1/19/18!) with a page that will dynamically display different metrics and calculations for cycling training, in hopes that I can use the tool myself and start this coming spring season stronger than the last.</p>
    <p>Enter your FTP:</p>
    <!--<p>If your FTP is:<span id="ftp"></span></p>-->
    <form>
        <input type="text" placeholder="200" id="formValueId" name="valueId"/>
    </form><br>
    <div class="container-fluid">
        <div class="container col-lg-6">
            <table id="ftpTable" class="table table-striped table-hover">
                <tr class="zoneTitles">
                    <th></th>
                    <th>Training Zone</th>
                    <th>Training Limits</th>
                </tr>
                <div class="ftpZones">
                    <tr class="ftpZoneRow">
                        <td >1 </td>
                        <td class="zoneText"></td>
                        <td class="zonesHR"></span></td>
                    </tr>
                    <tr class="ftpZoneRow">
                        <td>2 </td>
                        <td class="zoneText"></td>
                        <td class="zonesHR"></span></td>
                    </tr>
                    <tr class="ftpZoneRow">
                        <td>3 </td>
                        <td class="zoneText"></td>
                        <td class="zonesHR"></span></td>
                    </tr>
                    <tr class="ftpZoneRow">
                        <td>4 </td>
                        <td class="zoneText"></td>
                        <td class="zonesHR"></td>
                    </tr>
                    <tr class="ftpZoneRow">
                        <td>5 </td>
                        <td class="zoneText"></td>
                        <td class="zonesHR"></td>
                    </tr>
                    <tr class="ftpZoneRow">
                        <td>6 </td>
                        <td class="zoneText"></td>
                        <td class="zonesHR"></td>
                    </tr>
                    <tr class="ftpZoneRow">
                        <td>7 </td>
                        <td class="zoneText"></td>
                        <td class="zonesHR"></td>
                    </tr>
                </div>
            </table>
        </div>
        <div class="container col-lg-6">
            <table>
                <tr>
                    <th>a</th>
                    <th>s</th>
                    <th>d</th>
                </tr>
                <div>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
    <p><a href="../contact">Let me know</a> if you have any other suggestions!</p>
<% include ../partials/footer %>