<!DOCTYPE html>
<html>
<head>
	<title>Tip Calculator</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/tipCalculator.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>	
<body>
	<div id="billHeader">
		<!-- <div class="container"> -->
			<div>
				<div class="col">Total Bill</div>
				<div class="col">Tax %</div>
				<div class="col">Tip %</div>
				<div></div>
			</div>
			<div id="totalBillNums">
				<div class="col"></div>
				<div class="col"><input id="taxPercent" type="text" name="taxPercent" value="6.625"></div>
				<div class="col"><input id="tipPercent" type="text" name="tipPercent" value="18"></div>
				<div><span><i class="fa fa-user-plus"></i></span></div>
			</div>
		<!-- </div> -->
	</div>
	<!-- <div class="container container-fluid"> -->
		<div class="row">
			<!-- <div class="col-12-sm"> -->
				<table>
					<tr id="personRow">
						<td></td>
						<td><input type="text" name="p0" placeholder="Person 1"></td>
						<td><input type="text" name="p1" placeholder="Person 2"></td>
						<td></td>
					</tr>
					<tr class="dishRow">
						<td><input type="text" name="d0" placeholder="Dish $"></td>
						<td><input type="checkbox" class="d0 p0" name=""></td>
						<td><input type="checkbox" class="d0 p1" name=""></td>
						<td class="dishSubTotal">-</td>

					</tr>			
					<tr class= "dishRow">
						<td><input type="text" name="d1" placeholder="Dish $"></td>
						<td><input type="checkbox" class="d1 p0" name=""></td>
						<td><input type="checkbox" class="d1 p1" name=""></td>
						<td class="dishSubTotal">-</td>
					</tr>			
					<tr id="totalsRow">
						<td>Subtotals:</td>
						<td><p>-</p></td>
						<td><p>-</p></td>
						<td></td>
					</tr>
				</table>
			<!-- </div>			 -->
				<br>
				<table id="shoppingCart">
					<tr>
						<td>
							<i class="fa fa-cart-plus fa-5x"></i>
						</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
		</div>
	<!-- </div> -->

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../js/tipCalculator.js"></script>
</html>