<% include ../partials/header %>
    <p>Tip calculator page!</p>
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only">Name 1</label>
            <input class="form-control" id="exampleInputEmail2" placeholder="Enter Diner">
        </div>
        <div class="form-group">
            <label class="sr-only">Name 2</label>
            <input class="form-control" id="dish" placeholder="Enter Dish">
        </div>      
        <div class="form-group">
            <label class="sr-only">Name 2</label>
            <input class="form-control" placeholder="Enter Total">
        </div>
        <button class="btn btn-success btn-add" type="button">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </form>
<% include ../partials/footer %>